@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Login";
}

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row w-100">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12"></div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12">

            <div class="card w-100 myradio">
                <div class="card-body">
                    <div class="row m-3 d-flex justify-content-center">
                        <img class="w-50" src=@Configuration["Config:UrlLogo"] alt="Logo...">

                    </div>

                    
                    <h1 class="card-title text-center text-success mt-3 mb-3">
                        <i class="bi bi-person-circle"></i>
                    </h1>
                    <h5 class="card-title text-center text-success mt-3 mb-3">Login</h5>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="idUsuario" placeholder="Usuario">
                        <label for="idUsuario">Usuario</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="idPassword" placeholder="Password">
                        <label for="idPassword">Contraseña</label>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center mt-4 mb-3">
                            <button class="btn btn-outline-success" type="button" onclick="acceder()">Acceder</button>
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="idRecordame" checked>
                            <label class="form-check-label" for="idRecordame">Recordarme</label>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12"></div>
    </div>
</div>
